<div class='ulp-field' id='alternate-login-method-action-container'>
  <script>
    window.addEventListener('load', () => {
      const emailFromParams = '{{ transaction.params.ext-email }}';
      const emailValue = emailFromParams || sessionStorage.getItem('emailInputState');
      const emailInput = document.querySelector("input#username")
      if (emailInput) {
        if (emailValue) {
          emailInput.value = emailValue;
        }
        emailInput.addEventListener('change', async (evt) => {
          // This is dependent to Auth0 internal implementation and may change in the future.
          // But it is only used for optimistic ux optimization.
          // In case "input#username" is not found the graceful fallback is that the
          // email input just clears between page reloads (transition between otp and password modes)
          // https://auth0.com/docs/customize/login-pages/universal-login/customize-templates#css-customization
          sessionStorage.setItem('emailInputState', evt.target.value);
        })
        
        // Force save the email to sessionStorage on page load if we have it
        if (emailValue) {
          sessionStorage.setItem('emailInputState', emailValue);
        }
      }
    });
  </script>
  {% if application.name != 'Login with password' %}
    <script>
      sessionStorage.setItem('backToDefaultLink', window.location.href);
    </script>
  {% else %}
    <script>
      window.addEventListener('load', () => {
        const backLink = document.getElementById('back-to-default-link')
        if (backLink) {
          backLink.href = sessionStorage.getItem('backToDefaultLink');
        }
      });
    </script>
    <div style="text-align: center">
      <a id="back-to-default-link" href=''>
        {{ prompt.screen.texts.varBack }}
      </a>
    </div>
  {% endif %}
</div>


